In [1]:
import os
import pandas as pd
import pyspark
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.sql import types

In [2]:
rootpath = os.path.dirname(os.path.abspath(""))
datapath = os.path.join(rootpath, 'data')
print(f"datapath: {datapath}")

datapath: /home/onur/repos/nytaxi-spark/data

In [3]:
spark = SparkSession.builder \
    .master('local[2]') \
    .appName('taxi_join') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/13 14:22:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Read and Combine Green&Yellow Data

In [4]:
df_green = spark.read.parquet(os.path.join(datapath, 'report', 'revenue_hourly_green'))

In [13]:
df_green = df_green\
.withColumnRenamed('amount', 'green_amount')\
.withColumnRenamed('number_records', 'green_number_records')

In [5]:
df_green.count()

744767

In [14]:
df_green.columns

['hour', 'rzone', 'green_amount', 'green_number_records']

In [7]:
df_yellow = spark.read.parquet(os.path.join(datapath, 'report', 'revenue_hourly_yellow'))

In [15]:
df_yellow = df_yellow\
.withColumnRenamed('amount', 'yellow_amount')\
.withColumnRenamed('number_records', 'yellow_number_records')

In [8]:
df_yellow.count()

1520799

In [16]:
df_yellow.columns

['hour', 'rzone', 'yellow_amount', 'yellow_number_records']

In [17]:
 df_join = df_green.join(df_yellow, on=['hour', 'rzone'], how='outer')

In [18]:
df_join.show()

+-------------------+-----+------------------+--------------------+------------------+---------------------+
|               hour|rzone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+-----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|    3|              NULL|                NULL|              25.0|                    1|
|2020-01-01 00:00:00|    4|              NULL|                NULL|1004.3000000000002|                   57|
|2020-01-01 00:00:00|    7| 769.7299999999996|                  45| 455.1700000000001|                   38|
|2020-01-01 00:00:00|   12|              NULL|                NULL|             107.0|                    6|
|2020-01-01 00:00:00|   13|              NULL|                NULL|1214.8000000000002|                   56|
|2020-01-01 00:00:00|   18|               7.8|                   1|               5.8|                    1|
|2020-01-01 00:00:00|   29|              61.3|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|   36|295.34000000000003|                  11|            109.17|                    3|
|2020-01-01 00:00:00|   37|            175.67|                   6|161.60999999999999|                    7|
|2020-01-01 00:00:00|   38| 98.78999999999999|                   2|              NULL|                 NULL|
|2020-01-01 00:00:00|   40|168.97999999999996|                   8|             89.97|                    5|
|2020-01-01 00:00:00|   41|1363.9599999999987|                  84|1256.5299999999997|                   80|
|2020-01-01 00:00:00|   45|              NULL|                NULL| 732.4800000000002|                   42|
|2020-01-01 00:00:00|   47|              13.3|                   1|               8.3|                    1|
|2020-01-01 00:00:00|   48|              NULL|                NULL|10773.360000000022|                  455|
|2020-01-01 00:00:00|   51|              17.8|                   2|              31.0|                    1|
|2020-01-01 00:00:00|   60|            160.04|                   6|57.620000000000005|                    2|
|2020-01-01 00:00:00|   61| 526.7099999999999|                  17|            146.64|                    3|
|2020-01-01 00:00:00|   62|             15.95|                   1|             61.43|                    1|
|2020-01-01 00:00:00|   63|              51.9|                   2|              70.8|                    1|
+-------------------+-----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [19]:
df_join.write.parquet(os.path.join(datapath, 'report', 'revenue_hourly_joined'))

### Joining large and small tables

In [20]:
df_join = spark.read.parquet(os.path.join(datapath, 'report', 'revenue_hourly_joined'))

In [21]:
df_join.show()

+-------------------+-----+------------------+--------------------+------------------+---------------------+
|               hour|rzone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+-----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|   10|              NULL|                NULL|             42.41|                    2|
|2020-01-01 00:00:00|   14|              NULL|                NULL|               8.8|                    1|
|2020-01-01 00:00:00|   15|              NULL|                NULL|             34.09|                    1|
|2020-01-01 00:00:00|   17|195.03000000000003|                   9|220.20999999999998|                    8|
|2020-01-01 00:00:00|   22|              15.8|                   1|              NULL|                 NULL|
|2020-01-01 00:00:00|   24|              87.6|                   3| 754.9500000000002|                   45|
|2020-01-01 00:00:00|   25| 531.0000000000002|                  26|            324.35|                   16|
|2020-01-01 00:00:00|   32| 68.94999999999999|                   2|              18.0|                    1|
|2020-01-01 00:00:00|   33|317.27000000000004|                  11|            255.56|                    8|
|2020-01-01 00:00:00|   34|              NULL|                NULL|              19.3|                    1|
|2020-01-01 00:00:00|   35|            129.96|                   5|              NULL|                 NULL|
|2020-01-01 00:00:00|   42| 799.7599999999994|                  52| 635.3500000000001|                   46|
|2020-01-01 00:00:00|   43|            107.52|                   6| 6539.510000000012|                  390|
|2020-01-01 00:00:00|   49|266.76000000000005|                  14|185.64999999999998|                   10|
|2020-01-01 00:00:00|   50|              NULL|                NULL| 4177.479999999999|                  183|
|2020-01-01 00:00:00|   52| 83.33000000000001|                   4|              49.8|                    2|
|2020-01-01 00:00:00|   55|            129.29|                   4|              NULL|                 NULL|
|2020-01-01 00:00:00|   56|             99.69|                   3|              18.1|                    2|
|2020-01-01 00:00:00|   59|              50.9|                   3|              NULL|                 NULL|
|2020-01-01 00:00:00|   65|199.48999999999998|                  10|            409.35|                   19|
+-------------------+-----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [22]:
df_zones = spark.read.parquet(os.path.join(datapath, 'zones'))

In [23]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [24]:
df_result = df_join.join(df_zones, df_join.rzone == df_zones.LocationID)

In [29]:
df_result = df_result.drop('rzone', 'LocationID')

In [30]:
df_result.show()

+-------------------+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|               hour|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|                Zone|service_zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
|2020-01-01 00:00:00|              NULL|                NULL|             42.41|                    2|   Queens|        Baisley Park|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|               8.8|                    1| Brooklyn|           Bay Ridge|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|             34.09|                    1|   Queens|Bay Terrace/Fort ...|   Boro Zone|
|2020-01-01 00:00:00|195.03000000000003|                   9|220.20999999999998|                    8| Brooklyn|             Bedford|   Boro Zone|
|2020-01-01 00:00:00|              15.8|                   1|              NULL|                 NULL| Brooklyn|    Bensonhurst West|   Boro Zone|
|2020-01-01 00:00:00|              87.6|                   3| 754.9500000000002|                   45|Manhattan|        Bloomingdale| Yellow Zone|
|2020-01-01 00:00:00| 531.0000000000002|                  26|            324.35|                   16| Brooklyn|         Boerum Hill|   Boro Zone|
|2020-01-01 00:00:00| 68.94999999999999|                   2|              18.0|                    1|    Bronx|           Bronxdale|   Boro Zone|
|2020-01-01 00:00:00|317.27000000000004|                  11|            255.56|                    8| Brooklyn|    Brooklyn Heights|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL|              19.3|                    1| Brooklyn|  Brooklyn Navy Yard|   Boro Zone|
|2020-01-01 00:00:00|            129.96|                   5|              NULL|                 NULL| Brooklyn|         Brownsville|   Boro Zone|
|2020-01-01 00:00:00| 799.7599999999994|                  52| 635.3500000000001|                   46|Manhattan|Central Harlem North|   Boro Zone|
|2020-01-01 00:00:00|            107.52|                   6| 6539.510000000012|                  390|Manhattan|        Central Park| Yellow Zone|
|2020-01-01 00:00:00|266.76000000000005|                  14|185.64999999999998|                   10| Brooklyn|        Clinton Hill|   Boro Zone|
|2020-01-01 00:00:00|              NULL|                NULL| 4177.479999999999|                  183|Manhattan|        Clinton West| Yellow Zone|
|2020-01-01 00:00:00| 83.33000000000001|                   4|              49.8|                    2| Brooklyn|         Cobble Hill|   Boro Zone|
|2020-01-01 00:00:00|            129.29|                   4|              NULL|                 NULL| Brooklyn|        Coney Island|   Boro Zone|
|2020-01-01 00:00:00|             99.69|                   3|              18.1|                    2|   Queens|              Corona|   Boro Zone|
|2020-01-01 00:00:00|              50.9|                   3|              NULL|                 NULL|    Bronx|        Crotona Park|   Boro Zone|
|2020-01-01 00:00:00|199.48999999999998|                  10|            409.35|                   19| Brooklyn|Downtown Brooklyn...|   Boro Zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+--------------------+------------+
only showing top 20 rows

In [33]:
df_result.write.parquet(os.path.join(datapath, 'report', 'revenue_hourly_joined_zones'))

In [34]:
spark.sparkContext.stop()